{{#each this}}
  <li class='card-list__item' data-action='{{id}}'>
    <div class='img-thumb'>
      <img
        src='{{poster}}'
        srcset='{{srcset}}'
        sizes='(min-width:1280px) 395px, (min-width:768px) 336px, 280px'
        alt='{{title}}'
      />
    </div>
    <h2 class='card-list__title'>{{title}}</h2>
    <p class='card-list__text'>
      <span>{{genres}}</span>
      |
      <span>{{year}}</span>
    </p>
  </li>
{{/each}}